	body {background-color: #efeee7;}
	body {font: Georgia}
	body {font-color: #333333;}
	body {
		margin: 0
		padding: 0;
	}
	header {font-size: 28px}
	h1 {background-color: white;}
	p {color: white;}
	header {background-color: #d21024}
	h2 {font-size: 24px}