* {
  box-sizing: border-box;
}

#main-header {
background-color: #ddd;
margin-bottom: 30px;
min-height: 100px;
}

body {
	background-color: #f1f1f1;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	line-height: 25px;
}

#main-section {
	background-color: #ddd
	floats: left;
	width: 60%;
	padding: 30px;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
}
#sidebar {
	background-color: #dddddd;
	floats: right;
	width: 35%;
	padding: 30px;
}
h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:30px;
	line-height: 45px;
}
h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	line-height: 30px;
}